@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/textfield';

$blueButton: #039be5;

@include textfield.core-styles;

#app{
	text-align: center;
	top: 50%;
	left: 50%;
	height:18em;
}

.foo-button{
	@include button.container-fill-color($blueButton);
	@include button.ink-color(white);
	position: absolute;
	margin-top: 20%;
}

#shortcut-input{
	position: absolute;
	margin-top: 20%;
}